@import url('https://fonts.googleapis.com/css?family=Open+Sans:700!Roboto:100,200,300,400');

/* ----------------------------------------------------------- index.html */

html {
    height:100%;
    width:100%;
}

body {
    height:100%;
    width:100%;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;    
    background-color: #F5F5F5; /* white grey */
}

.logo {
    background: url('../images/hero-img.jpg') no-repeat left top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    max-height: 100vh;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out; 
    -o-transition:all 0.5s ease-in-out;         
    transition:all 0.5s ease-in-out; 
}

/* ----------------------------------------------------------- Navbar */

.navbar-brand, .navbar-brand:focus,.navbar-brand:hover {
    color:white;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size:18px;
}

.icon-bar {
    background-color: #000000 ; 
    color: #000000;
}

.navbar-fixed-top .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgba(54, 69, 79, 0.5); /* hex no op. #36454f */
}

.navbar {
    margin-bottom: 0;
    background-color: rgba(51, 102, 255, .70); /* hex no op. #3366ff */
    border: 0;
    font-size: 14px;  /* Roboto - font-weight:400 */
}

#navbarhome {
    background-color: transparent;
    border-color: transparent;
}

.nav>li>a {
    color:white;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    
    transition:all 0.35s ease-in-out;
    -moz-transition:all 0.35s ease-in-out;
    -webkit-transition:all 0.35s ease-in-out;
    -o-transition:all 0.35s ease-in-out;
}

.nav>li>a:focus, .nav>li>a:hover { 
    text-decoration: none;
    color:white;
    background-color: rgba(169,169,169,0.6); /* hex no op. #a9a9a9 */
}

.nav li .dropdown-toggle:focus { /* added to distinct my galleries colours */
    background-color: rgba(51, 102, 255, .70); /* hex no op. #3366ff */ 
}

.active>a {
    text-decoration: none;
    background-color: #0039A6; /* dark blue */
    outline: 0;
    border-bottom: 3px solid black;
}

.dropdown-menu {
    margin-bottom: 0;
    background-color: rgba(245, 245, 245, .80); /* hex op. #f5f5f5 to be linear with body orig. colour */
    border: 0;    
}

.nav .open>a, .nav .open>a:focus , .nav .open>a:hover { 
    background-color: rgba(51, 102, 255, .70); /* hex no op. #3366ff */
    border-color: #337ab7;
}

.dropdown-menu>li>a {
    color:black;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    
    transition:all 0.35s ease-in-out;
    -moz-transition:all 0.35s ease-in-out;
    -webkit-transition:all 0.35s ease-in-out;
    -o-transition:all 0.35s ease-in-out;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: rgba(192,192,192,0.6); /* hex no op. #c0c0c0 - darker grey */
}

.dropdown-menu>.active>a { 
    color: white;
    text-decoration: none;
    background-color: rgba(21,27,31,0.8); /* hex no op. #151b1f */
    outline: 0;
}

/* ----- */

#navbar span {
    margin-left: 4px;
}

.fa-home, .fa-pencil-square-o, .fa-envelope { /* nav items */
    font-size:1.2em;
    color:white;
}

.fa-picture-o, .fa-list, .fa-video-camera { /* dropdown items */
    font-size:1.2em;
    color:#36454f; 
}

.active.focused [class*="fa-"] { /* class focused for MyGalleries dropdown items */ 
    color:white; 
}

.hvr-sweep-to-right:before {
    background:rgba(0,0,0,0.2); /* hex no op. #000000 */
    min-height:25px;
}

/* ----------------------------------------------------------- about_me.html */

.jumbotron {
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 8px;
    background-color: #F5F5F5;
}

.social-links {
    padding-bottom:15px;
}

.social-links li a i,
.compweb i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa; /* white */
    background: #0039A6; /* dark blue */
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#aboutme-details {
    margin-top: 60px;
    margin-bottom: 10px; 
    padding: 0px; 
    
    font-weight: 200;
    font-size: 14px;
    min-width: 30%;
}

#aboutme-details img {
    float:left;
    width:170px;
    min-height:170px;
    margin: 0px 15px 5px 0px;
}

#aboutme-details u {
    padding-bottom: 1px;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.compweb, .compweb:focus { /* aboutme and contact section */
    color: black;
    text-decoration: none;
}

.compweb:hover {  /* aboutme and contact section */
    font-weight:bold;
    color: #0039A6; /* blue */
    text-decoration: none;
}

/* ----------------------------------------------------------- mygalleries_img.html */

.himg {
    text-align: center;
    padding-top: 32px;
    margin:15px;
}

.himg p {
    font-weight: 100;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-triangle-bottom:before {
    content: "\e252";
    position: absolute;
    top: -25px;
    left: 8px;
}

.c .btn {  /* adj compact modal background img btn presence */
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0;
} 

.modal-header {
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 0;
    background-color: #F5F5F5;
}

.modal-body {
    position: relative;
    padding: 5px;
    background-color: #F5F5F5;
}

.r {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
}

.c {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.c img {
    margin-top: 8px;
    vertical-align: middle;
}

/* ----------------------------------------------------------- mygalleries_audioslists.html */

audio { 
    width: 200px; 
    height:54px;
}

#fsaudiosection {
    margin-top: 60px;
    margin-bottom: 10px;
}

.fwadjust {
    font-weight:200;
}

.fashionlistimg {
    position: relative;
    left: -13px;
    padding-right: 0;
    padding-left: 11px;
}

.fashionlistabs {
    position: absolute;
    left: 5%;
    top: 25%;
    width: calc(100% - 100px);
}

.fashionlist {
    font-size: 20px;
    line-height: 2;
    padding-left: 32px; 
    width: 710px;
}

.fashionlist>li {
    list-style-type:square;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000000;
    text-shadow: 2px 2px 4px #FFFFFF;
    font-weight:300;
}

.fashionlistimg img { 
    width: 100%;
    height: auto;
    opacity: 0.4;
}

#bg-color-editorialslists {
    background-color: #f05f40; /* red */
    color:white;
    margin-top: 40px;
    min-height: 100px;
}

.thumbnail p {
    font-weight: 200;
}

.thumbnail .glyphicon-tag {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 35%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


/* ----------------------------------------------------------- mygalleries_video.html */

.glyphicon-triangle-right:before {
    content: "\e250";
    position: inherit;
    left: -8px;
    top: 5px;
}

.videosection {
    margin-top: 60px;
    margin-bottom: 10px;
}

.videosection h1 {
    padding-left: 15px;    
}

.videosection small {
    font-weight: 200;
}

#video-details.row {
    margin-left: 0px;
}

#video-details div h3  {
    margin-top: 5px;
    margin-bottom: 10px;
    word-wrap: break-word;
    text-align: justify;
    padding-top: 10px;
    line-height: 1.5;
}

video {
    margin-bottom: 10px;
}

#video-details>div>p {
    word-wrap:break-word;
    font-weight: 200;  
    font-size: 12px;
    color: #000000;
    background:  #e3e3e3; /* darker grey */
    min-width: 30%;
}

#bg-color-editorialsvideos {
    background-color: #f05f40; /* red */
    margin-top: 30px;
}

#bg-color-editorialsvideos h2,
#bg-color-editorialsvideos p {
    padding-left: 15px;
    color:white;
}

/* ----------------------------------------------------------- contact.html */

.compweb i {
    background: #8f8f8f; /* darker grey */ 
}

#contact-details {
    margin-top: 60px;
    margin-bottom: 10px;    
}

address {
    font-weight:300;
}

/* ----------------------------------------------------------- Media Queries (mobile - max 767, tablet - 768 to 991, desktop - 992 to 1800) */

@media screen and (min-width: 992px) {
     #aboutme-details, #video-details>div>p {
        font-size: 16px;
        min-width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .c {  
        -ms-flex: 50%; /* mygalleries_img.html and mygalleries_audioslists.html */
        flex: 50%;
        max-width: 50%;
    }
    
}

@media screen and (max-width: 767px) { 
    .navbar-nav .open .dropdown-menu { /* hamb button */
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: rgba(245, 245, 245, .80); /* hex op. #f5f5f5 to be linear with body orig. colour */
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .fashionlistabs {
        position: absolute;
        left: 0;
        top: 15%;
    }
    
    .fashionlist {
        font-size: 10px;
        width: 290px;
    }
    
    .videopadmalldev {
        padding-left:0;
    }

}

@media screen and (max-width: 600px) {
    .c { 
        -ms-flex: 100%; /* mygalleries_img.html and mygalleries_audioslists.html */
        flex: 100%;
        max-width: 100%;
    }
    
}