@import url('https://fonts.googleapis.com/css?family=Open+Sans:700!Roboto:100,200,300,400');

/* ----------------------------------------------------------- index.html */

html {
    height:100%;
    width:100%;
}

body {
    height:100%;
    width:100%;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;    
    background-color: #F5F5F5;
}

.logo {
    background: url('../images/hero-img.jpg') no-repeat left top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    max-height: 100vh;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out; 
    -o-transition:all 0.5s ease-in-out;         
    transition:all 0.5s ease-in-out; 
}

.flex-center { /* needed if had been placed a hero message text. This case not text inserted. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* ----------------------------------------------------------- Navbar */

.navbar-brand, .navbar-brand:focus,.navbar-brand:hover {
    /*font-weight: bold;*/
    color:white;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size:18px;
}

.icon-bar {
    background-color: #000000 ; 
    color: #000000;
}

.navbar-fixed-top .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    /* background-color: transparent; */
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgb(54, 69, 79,0.5);
}

.navbar {
    margin-bottom: 0;
    /* background-color: rgba(0, 0, 0, .25); */
    background-color: rgba(51, 102, 255, .70); 
    border: 0;
    
    font-size: 14px;  /* Roboto and font-weight:400 */
}

#navbarhome {
    background-color: transparent;
    border-color: transparent;
}

.nav>li>a {
    color:white;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    
    transition:all 0.35s ease-in-out;
    -moz-transition:all 0.35s ease-in-out;
    -webkit-transition:all 0.35s ease-in-out;
    -o-transition:all 0.35s ease-in-out;
}

/*
.navbar-fixed-top .navbar-collapse {
    background:transparent;
    border-color:transparent;
}
*/

.nav>li>a:focus, .nav>li>a:hover { 
    text-decoration: none;
    color:white;
    background-color: rgb(169,169,169,0.6); /* rgb(245,245,245,0.4) */
}

.nav li .dropdown-toggle:focus { /* added to distinct my galleries colours */
    background-color: rgba(51, 102, 255, .70); 
}

.active>a { /* , .nav>li>.active>a:focus, .nav>li>.active>a:hover */
    text-decoration: none;
    background-color: #0039A6;
    outline: 0;
    border-bottom: 3px solid black;
}

.dropdown-menu {
    margin-bottom: 0;
    /* background-color: rgba(0, 0, 0, .25); */
    background-color: rgba(245, 245, 245, .80);
    border: 0;    
}

.nav .open>a, .nav .open>a:focus , .nav .open>a:hover { 
    background-color: rgba(51, 102, 255, .70);
    border-color: #337ab7;
    
}

.dropdown-menu>li>a {
    color:black;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    
    transition:all 0.35s ease-in-out;
    -moz-transition:all 0.35s ease-in-out;
    -webkit-transition:all 0.35s ease-in-out;
    -o-transition:all 0.35s ease-in-out;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: rgb(192,192,192,0.6); 
}

.dropdown-menu>.active>a { /* .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover */
    color: white;
    text-decoration: none;
    background-color: rgb(21,27,31,0.8);
    outline: 0;
}

/* ----- */

#navbar span {
    margin-left: 4px;
}

.fa-home, .fa-pencil-square-o, .fa-envelope {
    font-size:1.2em;
    color:white;
}

.fa-picture-o, .fa-list, .fa-video-camera {
    font-size:1.2em;
    color:#36454f; 
}

.active.focused [class*="fa-"] {
    color:white;
}

.fa-address-card {
    color:rgb(54, 69, 79);     
}

.hvr-sweep-to-right:before {
    background:rgba(0,0,0,0.2);
    min-height:25px; 
}

/* ----------------------------------------------------------- about_me.html */

.jumbotron {
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 8px;
    background-color: #F5F5F5;
}

.social-links {
    padding-bottom:15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #0039A6; /* #0039A6 or #8f8f8f */
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#aboutme-details {
    /* margin:10% 5px; */
    margin-top: 60px;
    margin-bottom: 10px; 
    padding: 0px; /*new add*/
    
    font-weight: 200; /* Roboto */
    font-size: 14px;
}

#aboutme-details img {
    float:left;
    width:170px;
    min-height:170px;
    /*margin-right:15px;*/
    margin: 0px 15px 5px 0px;
}

/* ----------------------------------------------------------- mygalleries_img.html */

.himg {
    text-align: center;
    padding-top: 32px;
    margin:15px;
}

.himg p {
    font-weight: 100; /* Roboto */
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; /* or antialiased */
}

.glyphicon-triangle-bottom:before {
    content: "\e252";
    position: absolute;
    top: -25px;
    left: 8px;
}

.c .btn {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0;
    /* border-radius: 4px; */
}

.modal-header  {
    /* padding: 5px; */
    padding-top: 15px;
    border-bottom: 0;
    background-color: #F5F5F5;
}

.modal-body {
    position: relative;
    padding: 5px;
    background-color: #F5F5F5;
}

.r {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
}

.c {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.c img {
    margin-top: 8px;
    vertical-align: middle;
}


/* ----------------------------------------------------------- mygalleries_audioslists.html */

audio { 
    width: 200px; 
    height:54px;
}

#fsaudiosection {
    margin-top: 60px;
    margin-bottom: 10px;
}

.fwadjust {
    font-weight:200; /* Roboto */
}

.fashionlistimg {
    position: relative;
    left: -13px;
    padding-right: 0;
    padding-left: 11px;
}

.fashionlistabs {
    position: absolute;
    left: 5%;
    top: 40%; /*40% for big, 8% for small, tablets */
    /* word-break: break-all; */
}

.fashionlist {
    font-size: 20px;
    line-height: 2;
    padding-left: 32px; 
    /* word-break: break-all; */
    width: 100%;
}

.fashionlist>li {
    list-style-type:square;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-weight: 400;
    color: rgb(0,0,128); */
    color: #000000;
    text-shadow: 2px 2px 4px #FFFFFF;
    font-weight:300; /* Roboto */
}

.fashionlistimg img { 
    width: 100%;
    height: auto;
    opacity: 0.4; /*0.4 or 0.5*/
}

#bg-color-editorialslists {
    background-color: #f05f40; /* ID or !important rgb(213,43,30,0.6) */
    color:white;
    margin-top: 40px; /* removed the two <br> as block dividers */
    min-height: 100px;
}

.thumbnail p {
    font-weight: 200; /* Roboto */
}

.thumbnail .glyphicon-tag {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 35%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


/* ----------------------------------------------------------- mygalleries_video.html */

.glyphicon-triangle-right:before {
    content: "\e250";
    position: inherit;
    left: -8px;
    top: 5px;
}

.videosection {
    margin-top: 60px;
    margin-bottom: 10px;
}

.videosection h1 {
    padding-left: 15px;    
}

.videosection small {
    font-weight: 200; /* Roboto */
}

#video-details.row {
    margin-left: 0px; /*4em*/
}

#video-details div h3  {
    margin-top: 5px; /*ex 25 */
    margin-bottom: 10px;
    word-wrap: break-word;
    text-align: center; /* left */
    padding-top: 10px;
    line-height: 1.5;
}

video {
    margin-bottom: 10px;
}

#video-details>div>p {
    word-wrap:break-word;
    font-weight: 200; /* Roboto */    
    font-size: 12px;
    color: #000000;
    background:  #e3e3e3;
}

#bg-color-editorialsvideos {
    background-color: #f05f40; /* ID or !important rgb(213,43,30,0.6) */
    margin-top: 30px; /* removed the two <br> as block dividers */
}

#bg-color-editorialsvideos h2,
#bg-color-editorialsvideos p {
    padding-left: 15px;
    color:white;
}

/* ----------------------------------------------------------- contact.html */

#contact-details {
    /*margin:10% 10px;*/
    margin-top: 60px;
    margin-bottom: 10px;    
}

address {
    font-weight:300;
}

/* ----------------------------------------------------------- Media Queries (mobile - max 767, tablet - 768 to 991, desktop - 992 to 1800) */

/*
@media screen and (min-width: 992px) and (max-width:1800px) {
}
*/

@media screen and (min-width: 992px) {
     #aboutme-details, #video-details>div>p {
        font-size: 16px;
    }   
}

/*
@media (min-width:801px) and (max-width:991px) {
}
*/

@media screen and (max-width: 800px) {
    .c {  /* mygalleries_img.html */
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    
}

@media screen and (max-width: 767px) { /* hamb button */
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: rgba(245, 245, 245, .80);
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .fashionlistabs {
        position: absolute;
        left: 0;
        top: 15%; /*40% for big, 8% for small, tablets */
        /* word-break: break-all; */
    }
    
    .fashionlist {
        font-size: 10px;
        line-height: 2;
        padding-left: 32px; 
        /* word-break: break-all; */
        width: 300px;
    }

}

@media screen and (max-width: 600px) {
    .c {  /* mygalleries_img.html */
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    
}